body{
	background-image: url('../img/fondo.jpg');
	font-family: Arial, Helvetica, sans-serif;
}

.container-table{
   width: 90%;
   background-color: white;
   margin: 50px auto;
   box-shadow:  0 0 20px #333;

   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: 40px;

   position: relative;
}

.table__title{
	grid-column-start: 1;
	grid-column-end: 5;

	background: #cc4444;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.9em;
}

.table__header, .table__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.table__header {
	font-weight: bold;
	font-size: 1.5em;
}

.table__item {
	padding: 10px;
	font-size: 1.2em;
}


/* Insertar */

body{
	background-image: url('../img/fondo.jpg');
	font-family: Arial, Helvetica, sans-serif;
}

.container-add{
    width: 60%;
    margin: 50px auto;
}

.container__title{
    margin: 0;
    padding: 10px;
    background: #cc4444;
    color: white;
    font-size: 1.9em;
    text-align: center;
}

.container__form{
    background: white;
    box-shadow:  0 0 10px #333;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.container__label{
    font-size: 1.3em;
    width: 20%;
}

.container__input{
    width: 25%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 5px;
}

.container__submit{
    background: #cc4444;
    color: white;
    border: none;
    padding: 10px;
    margin:15px auto;
    width: 100px;
    font-size: 1.1em;
    cursor: pointer;
}

.salir {
    margin-right: 20%;
}

.container__label .inicio{
    border-bottom: #cc4444;
}

/* Editar */

.title_edit{
    position: absolute;
    right: 7%;
    color: black;
    text-decoration: none;

}

.title_edit :hover{
    text-decoration: underline;
}

.container-table--edit{
    grid-template-columns: repeat(5, 1fr);
}

.table__title--edit{
    grid-column-start: 1;
    grid-column-end: 6;
}

.table__input{
    display: block;
    padding-left: 10px;
}

.container__submit--actualizar{
    background: #cc4444;
    padding: 1px;
    margin: 1px;
    font-size: .9em;
    width: 100%;
}
